.NewsBlock {
    background-color: #ffffff;
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 
    0px 10px 40px rgba(0, 0, 0, 0.1), 
    0px 30px 60px rgba(0, 0, 0, 0.2), 
    inset 0px 0px 10px rgba(255, 255, 255, 0.1), 
    inset 0px 0px 20px rgba(255, 255, 255, 0.1), 
    inset 0px 0px 30px rgba(255, 255, 255, 0.1);
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.1s;
}

.NewsBlock:hover{
    background: rgb(238, 233, 221);
}

.PinImage{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.NewsBlock h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.NewsBlock p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.NewsBlock img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}