.FullNewsBlock{
    padding: 60px 20px 20px 20px;
    color: black;
    box-sizing: border-box;
}

.FullNewsBlock h1{
    margin: 10px 0;
}

.AddComment_form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.FullNewsBlock p {
    font-size: 19px;
    margin: 0;
    font-weight: bold;
}

.News_content{
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: bisque;
}

.AddComment_form input{
    max-width: 600px;
    width: 70%;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: 0.2s;
}

.AddComment_form input:focus{
    outline-color: rgb(55, 161, 231);
    border: 1px solid rgb(55, 161, 231);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2), 0 8px 16px rgba(0, 0, 0, 0.2), 0 16px 32px rgba(0, 0, 0, 0.2), 0 32px 64px rgba(0, 0, 0, 0.2);
}